build/
nbproject/private/**
nbproject/genfiles.properties
nbproject/build-impl.xml
nbactions.xml
nb-configuration.xml
/06Code/CodeUnit1/POO6382-CinemaBoxOffice/nbproject/private/
/06Code/CodeUnit1/POO6382-CinemaBoxOffice/dist/